/*
.lol
{

float: left;
width: 100px;	
height: 105px;
border-radius: 3px;
margin: 30px 50px 20px 50px; 	
display: block;
background-color:#ddd;
box-shadow: 0px 10px 10px #eee;

}

.lol span
{
transition:0.1s;

margin-left: 5px;
margin-top: 5px;
position:relative;
text-align: center;
width: 100px;
display: block;
font-weight: bold;

font-size:12px;

margin-top:-50px; 

color: #fff;
background-color: transparent;


}


.lol img
{
transition:0.3s;
width:110px;
margin-left:2px; 
margin-top: 1px;

overflow: visible;
}



.lol:hover span{
transition:0.1s;
font-size: 14px;
width: 120px;
margin-top: -60px;
margin-left: 5px;

}




.lol:hover img{
transition:0.2s;
margin-left:5px;
width: 120px;
opacity: 0.9;

}

*/

.lol
{

    float: left;
    width: 100px;	
    height: 105px;
    border-radius: 3px;
    margin: 30px 50px 20px 50px; 	
    display: block;
    background-color:#fff;
    box-shadow: 0px 10px 10px #fff;

}

.lol span
{


    margin-left: 8px;
    margin-top: 5px;
    position:relative;
    text-align: center;
    width: 100px;
    display: block;
    font-weight: bold;
    font-size:12px;
    margin-top:0px; 
    color: #333;
    background-color: transparent;


}


.lol img
{
    transition:0.3s;
    width:110px;
    margin-left:2px; 
    margin-top: 1px;

    overflow: visible;
}


.lol:hover span{

    font-size: 12px;


    margin-left: 18px;
    margin-top: 5px;

}




.lol:hover img{

    transition:0.6s;
    margin-left:5px;
    width: 125px;
    opacity: 0.9;

}

/*EN USO POR ALEXIS*/
.circle{
    position: relative;
    transition: 0.3s;
    background-color: transparent; 
    background-size: 112%;
    background-position: center;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: block;
    border:none;
}


.linkCatalogo{
    float: left;
    height: 125px;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:50px;
    margin-top:10px;
    cursor:pointer;
    display: block;
    background-color: transparent;
}


.linkCatalogo:hover .circle{
    transition: 0.2s;
    width: 110px;
    height: 110px;
    -moz-border-radius: 55px;
    -webkit-border-radius: 55px;
    border-radius: 55px;
    box-shadow:0px 43px 25px -30px rgba(0, 0, 0,0.2);
    opacity: 0.9;
    margin-right:-10px;
    margin-top:-5px;

}
.linkCatalogo:hover span{
    color: #000;
    text-shadow: 0px 0px 3px #ccc;

}

.linkCatalogo span{
    //text-transform: uppercase; 
    width: 105px;
    display: block;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color : #000;
    background-color: transparent;
    position: absolute;
    /*    margin-left: 7px;*/
    margin-top: 110px;
}